<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mire.cinema.repository.CinemaMapper">
	<insert id="create">
		INSERT INTO cinema(cinema_no, cinema_name,
		cinema_intro, cinema_totalScreen, cinema_phone, cinema_location)
		VALUES
		(cinema_seq.NEXTVAL, #{cinemaName}, #{cinemaIntro},
		#{cinemaTotalScreen}, #{cinemaPhone}, #{cinemaLocation});
	</insert>
	<!-- _로 구분된 컬럼명을 소문자 낙타표기법의 프로퍼티명으로 자동 매핑한다. -->
	<!-- 패키지명을 생략하고 클래스명만 지정할 수 있다. -->
	<select id="read" resultType="Cinema">
		SELECT cinema_no, cinema_name,
		cinema_intro, cinema_totalScreen, cinema_phone, cinema_location
		FROM
		cinema
		WHERE cinema_no = #{cinemaNo}
	</select>
	<update id="update">
		UPDATE cinema
		SET cinema_name = #{cinemaName},
		cinema_intro =
		#{cinemaIntro},
		cinema_totalScreen =
		#{cinemaTotalScreen},
		cinema_phone =
		#{cinemaPhone},
		cinema_location =
		#{cinemaLocation}
		WHERE cinema_no = #{cinemaNo}
	</update>
	<delete id="delete">
		DELETE FROM cinema
		WHERE cinema_no = #{cinemaNo}
	</delete>
	<!-- _로 구분된 컬럼명을 소문자 낙타표기법의 프로퍼티명으로 자동 매핑한다. -->
	<!-- 패키지명을 생략하고 클래스명만 지정할 수 있다. -->
	<select id="list" resultType="Cinema">
<![CDATA[
SELECT cinema_no, cinema_name,
		cinema_intro, cinema_totalScreen, cinema_phone, cinema_location
FROM cinema
WHERE cinema_no > 0
ORDER BY cinema_no DESC
]]>
	</select>
</mapper>
