<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mire.cinema.repository.CinemaMapper">
	<!-- _로 구분된 컬럼명을 소문자 낙타표기법의 프로퍼티명으로 자동 매핑한다. -->
	<!-- 패키지명을 생략하고 클래스명만 지정할 수 있다. -->
	<!-- 영화관리스트 보기 -->
	<select id="selectCinema" resultType="Cinema">
		SELECT * FROM cinema ORDER BY
		cinema_no DESC
	</select>
	<!-- 영화번 번호로 해당 영화관 정보 보기 -->
	<select id="getCinema" resultType="Cinema">
		select * from cinema where
		cinema_no = #{cinemaNo}
	</select>
	<!-- 영화관 리스트 업데이트 -->
	<update id="updateCinema" parameterType="com.mire.cinema.domain.cinema.CinemaDTO$CinemaUpdate">
		UPDATE cinema
		SET cinema_name = #{cinemaName},
		cinema_intro =
		#{cinemaIntro},
		cinema_totalScreen =
		#{cinemaTotalScreen},
		cinema_phone =
		#{cinemaPhone},
		cinema_location =
		#{cinemaLocation}
		WHERE cinema_no = #{cinemaNo}
	</update>
	<!-- _로 구분된 컬럼명을 소문자 낙타표기법의 프로퍼티명으로 자동 매핑한다. -->
	<!-- 패키지명을 생략하고 클래스명만 지정할 수 있다. -->
	
</mapper>
