<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mire.cinema.repository.MemberMapper">



	<resultMap id="memberResultMap" type="Member">
		<id property="memberNo" column="member_no" />
		<result property="memberId" column="member_id" />
		<result property="memberPasswd" column="member_passwd" />
		<result property="memberName" column="member_name" />
		<result property="memberEmail" column="member_email" />
		<result property="memberPhone" column="member_phone" />
		<result property="memberRole" column="member_role" />
		<result property="memberGrade" column="member_grade" />
		<result property="memberDate" column="member_date" />
	</resultMap>



	<insert id="insertMember">
		insert into
		MEMBER(member_no,member_id,member_passwd,member_name,member_email,member_phone,member_role,member_grade)
		values
		(member_seq.nextval,#{memberId},#{memberPasswd},#{memberName},#{memberEmail},#{memberPhone},#{memberRole},#{memberGrade})
	</insert>

	<select id="getPartList" resultType="Member" parameterType="int">
		 <![CDATA[
 SELECT a.* from 
(SELECT a.*, rownum rn from 
    ( SELECT * from member order by member_no desc) a 
    where rownum <= #{end} ) a
where rn >= #{start}    

  ]]>
	</select>

	<select id="selectMember" resultType="Member"
		parameterType="java.lang.String">
		SELECT * FROM member WHERE member_id = #{memberId}
	</select>
	
	<select id="countMember" resultType="int">
		SELECT count(*) FROM member 
	</select>

	<delete id="deleteMember">
		delete from member where member_id = #{memberId}
	</delete>

	<update id="updateMember"
		parameterType="com.mire.cinema.domain.member.MemberDTO$Update">
		update member set
		member_passwd = #{memberEditPasswd}
		where member_id = #{memberId}
	</update>

</mapper>