<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.mire.cinema.repository.MovieScheduleMapper">

	<!-- 스케줄 리스트 -->
	<select id="scheduleSelect" resultType="MovieSchedule">
		select * from
		movie_schedule ORDER BY schedule_startTime DESC
	</select>

	<select id="getScheduleSelect" resultType="MovieSchedule">
		select * from
		movie_schedule where = #{scheduleNo}ORDER BY schedule_startTime DESC
	</select>

	<!-- 페이징처리 및 검색기능 -->
	<!-- 페이징 -->
	<select id="getPartList" resultType="MovieSchedule"
		parameterType="int">
		 <![CDATA[
 SELECT a.* from 
(SELECT a.*, rownum rn from 
    ( SELECT * from movie_schedule order by schedule_startTime desc) a 
    where rownum <= #{end} ) a
where rn >= #{start}    

  ]]>
	</select>

	<!-- 검색기능 -->
	<select id="searchPartList" resultType="MovieSchedule"
		parameterType="com.mire.cinema.domain.movieschedule.MovieSchedule">
		 <![CDATA[
SELECT a.*
FROM (
    SELECT a.*, rownum rn
    FROM (
        SELECT *
        FROM movie_schedule
        WHERE LOWER(schedule_no) LIKE '%' || #{scheduleNo} || '%'
        ORDER BY schedule_startTime DESC
    ) a
    WHERE rownum <= #{endNum}
) a
WHERE rn >= #{startNum}   
  ]]>
	</select>

	<!-- 검색과 페이징 기능을 돕기위한것 -->
	<select id="selectSchedule" resultType="MovieSchedule">
		SELECT * FROM movie_schedule WHERE schedule_no =
		#{scheduleNo}
	</select>

	<select id="countSchedule" resultType="int">
		SELECT count(*) FROM
		movie_schedule
	</select>

	<select id="countScheduleNo" resultType="int"
		parameterType="long">
		SELECT count(*) FROM movie_schedule where schedule_no =
		#{scheduleNo}
	</select>

	<select id="countSearchSchedule" resultType="int"
		parameterType="long">
		SELECT count(*) FROM movie_schedule where schedule_no
		like '%'||#{scheduleNo}||'%'
	</select>

	<!-- 스케줄 등록 -->
	<insert id="scheduleInsert"
		parameterType="com.mire.cinema.domain.movieschedule.MovieSchedule">
		INSERT INTO movie_schedule (
		schedule_no,
		schedule_startTime,
		screen_totalseat,
		screen_restSeat,
		movie_no,
		screen_no,
		schedule_finishTime
		)
		VALUES (
		movie_schedule_seq.nextval,
		#{scheduleStartTime},
		#{screenTotalSeat},
		#{screenTotalSeat},
		#{movieNo},
		#{screenNo},
		#{scheduleFinishTime}
		)
	</insert>

	<!-- 스케줄 수정(영화시작시간+영화상영시간=영화끝나는시간) -->
	<update id="scheduleUpdate"
		parameterType="com.mire.cinema.domain.movieschedule.MovieScheduleDTO$Update">
		UPDATE movie_schedule
		SET
		schedule_startTime =
		#{scheduleStartTime},
		schedule_finishTime = #{scheduleFinishTime},
		screen_no = #{screenNo},
		movie_no = #{movieNo}
		WHERE schedule_no =
		#{scheduleNo}
	</update>
	
	<update id="updateSeat" >
		UPDATE movie_schedule
		SET
		screen_restSeat = screen_restSeat + #{no}
		where
		schedule_no =
		#{scheduleNo}
		</update>


	<!-- 스케줄 삭제 -->
	<delete id="scheduleDelete">
		delete from movie_schedule where schedule_no =
		#{scheduleNo}
	</delete>

	<!-- 예매할때 필요한 스케줄리스트 -->
	<select id="selectMovieSchedule"
		parameterType="com.mire.cinema.domain.movieschedule.MovieScheduleDTO$schedule"
		resultType="com.mire.cinema.domain.movieschedule.MovieScheduleDTO$schedule">
		 <![CDATA[
   SELECT a.*, b.screen_hall,b.screen_floor
FROM movie_schedule a
JOIN screen b ON a.screen_no = b.screen_no
WHERE a.movie_no = #{movieNo}
AND TO_CHAR(a.schedule_date, 'yyyy-mm-dd') = #{time}
AND b.screen_no IN (
    SELECT screen_no 
    FROM screen 
    WHERE cinema_name = (
        SELECT cinema_name 
        FROM cinema 
        WHERE cinema_no = #{cinemaNo}
    )
)
    ]]>
	</select>

</mapper>