<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mire.cinema.repository.OrderMapper">

  <insert id="insertOrder">
    INSERT INTO orders (
      order_no, order_Id, order_quantity, order_price,
      discount_price, order_status,item_no, member_id
    ) VALUES (
      orders_seq.nextval, #{orderId}, #{orderQuantity}, #{orderPrice},
      #{discountPrice}, #{orderStatus},#{itemNo}, #{memberId}
    )
  </insert>
   
   <select id="selectOrderById" resultType="Order" parameterType="String">
      select * from orders where order_id = #{orderId}
   </select>
   
   <update id="updateStatus" parameterType="String">
   update orders set order_status = #{status} where order_id = #{orderId}
   </update>
   

</mapper>