<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mire.cinema.repository.ScreenMapper">

	<!-- 상영관 번호 ,상영관 몇층 몇관 총좌석 상영할 -->
	<insert id="insertScreen">
		insert into
		screen(screen_no,screen_floor,screen_hall,screen_totalseat,cinema_name)
		values(screen_seq.nextval,#{screenFloor},#{screenHall},#{screenTotalSeat},#{cinemaName})
	</insert>

	<!-- 상영관 리스트보기 -->
	<select id="selectScreen" resultType="Screen">
		SELECT * FROM Screen
	</select>

	<!-- 상영관 정보 보기 -->
	<select id="getScreen" resultType="Screen">
		select * from screen where
		screen_no = #{screenNo}
	</select>
	
	<!-- 영화관 에있는 상영관 보기 -->
	<select id="getCinemaScreen" resultType="Screen">
		select * from screen where
		cinema_name = #{cinemaName}
	</select>

	<!-- 층,관,총좌석 업데이트 -->
	<update id="updateScreen"
		parameterType="com.mire.cinema.domain.screen.ScreenDTO$Update">
		UPDATE screen
		SET screen_floor = #{screenFloor}, screen_hall = #{screenHall},
		screen_totalseat = #{screenTotalSeat}
		WHERE screen_no = #{screenNo}
	</update>

</mapper>